body {
    background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
    background-size: 800% 800%;
    animation: gradientBackground 20s ease infinite;
    position: relative;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1, p {
    font-family: 'Ubuntu', sans-serif;
}

.rectangle {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
}

.second-rectangle {
    position: absolute;
    top: 180px;
    left: 10px;
    width: 50px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
}

.transparent-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow-y: auto; /* Add vertical scrolling */
}

.enter-msg-box {
    position: absolute;
    transform: translateY(-50%);
    bottom: 10px;
    left: 10px;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-family: 'Ubuntu', sans-serif;
}

.input-box {
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.small-square {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    border-radius: 3px;
}

.display-area {
    position: absolute;
    left: 60%; /* Adjust this value to change the horizontal position */
    left: 50%;
    transform: translateX(10%);
    width: 80%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-family: 'Ubuntu', sans-serif;
    /*text-align: right;*/
}
