body {
    background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
    background-size: 800% 800%;
    animation: gradientBackground 20s ease infinite;
    position: relative;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1, p {
    font-family: 'Ubuntu', sans-serif;
}

.rectangle {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
}

.transparent-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
